html[theme='LIGHT'] {
  --color-container: #fff;
  --color-accent: #5584a6;
  --color-black: #1a1919;
  --color-white: #fff;
  --color-text: #1a1919;
  --color-text-white: #1a1919;
  --color-link-bd: #d1d1d1;
  --color-link-bd-hover: #1a1919;
  --color-initial-bg: #1a1919;
  --color-initial-text: #fff;
  --color-overlay: #000;
  --color-overlay-text: #fff;
}

html[theme='DARK'] {
  --color-container: #1a1919;
  --color-accent: #e77326;
  --color-black: #1a1919;
  --color-white: #fff;
  --color-text: #fff;
  --color-text-white: #1a1919;
  --color-link-bd: #d1d1d1;
  --color-link-bd-hover: #1a1919;
  --color-initial-bg: #fff;
  --color-initial-text: #1a1919;
  --color-overlay: #000;
  --color-overlay-text: #fff;
}
